body span.hiden {
  color: #0000;
  background-color: #161209;
}

body span.hiden:hover {
  animation: hidengc 0.3s forwards;
}

body[theme="dark"] span.hiden {
  color: #0000;
  background-color: #a9a9b3;
}

body[theme="dark"] span.hiden:hover {
  animation: hidengcdark 0.3s forwards;
}

@keyframes hidengc {
  to {
    color: #161209;
    background-color: #0000;
  }
}

@keyframes hidengcdark {
  to {
    color: #a9a9b3;
    background-color: #0000;
  }
}
